
.footer {
  background-color: #d7181c;
  padding: 70px 0;
  color: white;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 88%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.col {
  min-width: 180px;
  line-height: 30px;
}

.brand {
  font-size: 42px;
  font-weight: 700;
}

.subtitle {
  margin-top: 20px;
  font-size: 22px;
  font-weight: 600;
}

.title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 12px;
}

.phone {
  font-size: 30px;
  margin: 15px 0;
  font-weight: 700;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.social {
  display: flex;
  gap: 15px;
  font-size: 26px;
  margin-top: 25px;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 1.5px;
  margin-top: 60px;
  background-color: white;
  opacity: 0.4;
}
.wrapper {
  background-color: #e10707;
  padding: 60px 20px;
  text-align: center;
}

/* Top Links */
.linksRow {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-bottom: 40px;
}

.linksRow a {
  color: #ffffff;
  font-size: 18px;
  text-decoration: underline;
  font-weight: 500;
  cursor: pointer;
}

.linksRow a:hover {
  opacity: 0.8;
}

/* Title */
.title {
  color: #ffffff;
  font-size: 28px;
  margin-bottom: 40px;
  font-weight: 600;
}

/* Payment Logo Row */
.logoRow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.logoRow img {
  height: 55px;
  object-fit: contain;
  transition: transform 0.2s ease;
}

.logoRow img:hover {
  transform: scale(1.1);
}
.content{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}
.payment{
    display: flex;
    justify-content: center;
    font-weight: bold;
}