.container {
  /* border: 2px solid yellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 30px;

}
.wrapper{
  /* border: 2px solid green; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section12{
  /* border: 2px solid red; */
  display: flex;
  gap: 20px;
  padding: 10px;
}
/* LEFT FILTER */
.section1 {
  width: 20%;
}

.section h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.header {
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0 10px;
}

.list label {
  display: block;
  font-size: 16px;
  margin: 10px 0;
  width: 100%;
}

/* RIGHT PRODUCTS AREA */
.section2 {
         width: 80%;
}

.count {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

/* PRODUCT GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

/* PRODUCT CARD */
.card {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 6px;
  position: relative;
  text-align: center;
}

.card img {
  width: 100%;
  height: 260px;
  object-fit: contain;
}

.title {
  font-size: 18px;
  margin-top: 10px;
  font-weight: 600;
}

/* BADGE */
.badge {
  position: absolute;
  top: 15px;
  left: 15px;
  background: red;
  color: white;
  padding: 6px 16px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
}
.qtyBox{
   display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  gap: 14px;
  border: 1px solid #d1d1d1;
  width: 150px;
  padding: 8px;
  border-radius: 10px;
  background: #fff;
  margin: 12px auto;
  font-size: 18px;

}
.price {
  font-size: 18px;
  font-weight: 700;
  color: rgb(239, 7, 7);
  margin-top: 8px;
}
.priceContainer {
  width: 200px;
  padding: 15px;
  border-top: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
}

.priceHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.priceHeader h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

.priceHeader span {
  font-size: 28px;
  line-height: 1;
}

.slider {
  width: 100%;
  appearance: none;
  height: 4px;
  background: #000;
  border-radius: 5px;
  outline: none;
}

/* Chrome */
.slider::-webkit-slider-thumb {
  appearance: none;
  width: 18px;
  height: 18px;
  background: #000;
  border-radius: 50%;
  cursor: pointer;
}

/* Firefox */
.slider::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: #000;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.priceValues {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  font-size: 15px;
}